<a href="https://colab.research.google.com/github/jinsu1214/class2022spring/blob/main/20220316.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

영어음성학응용 정리

1. 변수
-number
Number 안에는 숫자가 들어가는데 안에 들어가는 숫자가 정수인지 소수인지에 따라서 type이 바뀐다. 소수점이 없는 정수는 int, 소수점이 있으면 float이라고 표현한다.

In [ ]:
a=1; b=2.1
print(type(a)); print(type(b))

<class 'int'>
<class 'float'>

주의할 점: 1은 정수이지만 1.0은 정수가 아니다 1은 int이고 1.0은 float!!

In [ ]:
a=1; b=1.0
print(type(a)); print(type(b))

<class 'int'>
<class 'float'>

-string String은 항상 ‘ ‘나 “ “가 꼭 붙는다. 이 둘의 차이점은 없기에 아무거나 사용해도 괜찮다. 그리고 만약 안에 a=’123’처럼 글자가 아닌 숫자가 들어갔다고 하더라도 ‘ ‘가 붙어있기 때문에 string이라고 본다.

In [ ]:
a='about'; b='1'
print(type(a)); print(type(b))
a[1]

<class 'str'>
<class 'str'>

'b'

위의 예시에서 a[1]이 의미하는 것은 변수를 나타내는 string중에서 첫번째를 가져오라는 의미이다. 근데 여기서 a가 아니라 b를 가져온 이유는 파이썬에서는 0부터 시작이기에 a가 0번째이고 b가 첫번째이기 때문이다. 한가지 더 알아두면 좋은 것은 만약에 print를 실행해야 하는 상황인데 마지막 줄이면 print를 생략하고 a[1] 만 적어도 print를 하라는 의미를 가지게 된다.

-list[ , , ] List는 변수를 여러 개 넣을 때 사용하고 안에는 숫자가 들어가도 괜찮고 문자가 들어가도 괜찮다. 심지어 list 안에 list가 들어가는 것도 허용된다. a=[1,2,3,4], a=[1,’a’,[3,’4’]]

Index는 여러 개의 변수 중 일부분만 쓰고 싶을 때 사용한다.

In [ ]:
a=[1,2,3,4,5,6,7,8,9,10]
a[:]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

a[:]는 전부 다를 의미한다

In [ ]:
a[1:3]

[2, 3]

a[1:3]은 : 앞에 있는 숫자번째 변수는 포함시키고 :뒤에 있는 숫자번째 변수는 포함시키지 않는다는 것을 의미한다. 즉 첫번째 변수는 포함하지만 세번째 변수부터는 이용하지 않겠다는 의미이다

In [ ]:
a[2:]

[3, 4, 5, 6, 7, 8, 9, 10]

a[2: ]는 2번째 변수부터 마지막 변수까지 포함한다는 의미

In [ ]:
a[2:-2]

[3, 4, 5, 6, 7, 8]

원래 : 뒤에 들어가는 숫자번째 변수는 포함시키지 않는다는 것이 원칙이기에 : 뒤에 들어간 숫자가 – 를 가지고 있다고 해도 -2번 째 변수인 10을 포함하지 않는다는 의미이다. -2번째 변수는 뒤에서부터 -1번째로 시작하기에 9가 된다.
list 안에 있는 list를 가져오고 싶을 때도 똑같이 하면 된다.

In [ ]:
a=[1,'2',[3,'4']]
print(a[2][1])
a[2][1]

4

'4'

**하지만 왜 print를 붙이면 ' '가 없이 나오고 print 없이 쓰면 그냥 나오는지 이유를 모르겠다...**

가끔씩 list 대신에 tuple을 사용할 때가 있다 이 둘의 차이점은 list가 [ ]을 사용한다면 tuple은 ( )를 사용한다는 것이다. Tuple을 사용하는 이유는 사람들이 실수로 내부 정보를 변경할 수 있기 때문에 이를 방지하기 위해 변경이 불가능한 tuple을 사용한다.

-dict dictionary의 줄임말, { }가 쓰인다. 
a={key : value} 로 표현하고 a[ ]에서 [ ]안에 key를 적으면 그에 대응하는 value가 나온다.

In [ ]:
a={1:'happy', 2:'sad', 3:'soso'}
print(a[2])

sad

Function (함수) : def 함수이름 (입력변수) :  ~~~~   return 출력변수
: 적는 것 꼭 기억하기!
함수는 만약 뒤에 ( )가 있으면 이것이 함수를 의미한다고 유추할 수 있다.

In [ ]:
def something (a,b):
  return 2*a+b
something(1,5)

7

Len=길이 띄어쓰기도 길이에 포함시킨다                               
Upper=대문자화  
Find= 특정 단어 찾기    
Strip=처음과 끝의 공백 삭제  
Split=띄어쓰기를 기준으로 하여 전부 쪼개기  
Join=쪼개진거 합치기  
Replace(a,b)= a를 b로 대체하기

In [ ]:
a=' this is what i like '
print(len(a))
print(a.upper( ))
print(a.find('what'))
print(a.strip( ))
print(a.split(' '))
print(' '.join(a.split(' ')))
print(a.replace('like', 'hate'))

21
 THIS IS WHAT I LIKE
9
this is what i like
['', 'this', 'is', 'what', 'i', 'like', '']
 this is what i like
 this is what i hate

Syntax  
-For: for i in a : (a에서 하나씩 받아서 i로 실행 = for-loop)  
for 문법 아래 오는 명령에서는 무조건 띄어쓰기가 있어야 한다!!!

In [ ]:
a=[1,2,3,4]
for i in range(len(a)):
 print(i)

0
1
2
3

*Range: range가 나오면 뒤에 있는 숫자를 기반으로 하여 list가 만들어진다. 이 때 만들어지는 list는 앞에서 배웠던 list의 index와 마찬가지로 앞에 나오는 숫자는 포함하고 뒤에 나오는 숫자는 포함하지 않는다는 뜻이다. 하지만 차이점은 index에서는 : 를 사용하고 range에서는 , 를 사용한다는 것이다.  
Range5=[0,1,2,3,4] range(1,4)=[1,2,3]  
For 문법을 두 번 이상 사용하는 것도 존재한다.

In [3]:
for i in range(1,3):
    for j in range(3,5):
      print(i*j)

3
4
6
8

-If

In [4]:
a=0
if a==0:
  print(a)

0

In [14]:
a=1
if a==0:
  print(a)
if a!=0:
  print(a+1)

2

=과 ==은 다르다 a=0은 0을 a의 변수로 설정한다는 뜻이고 a==0이 a와 0이 같다는 것을 의미  
만약 ~가 아니라면을 표현하고 싶다면 != 로 표현하면 된다.  
Else는 if 구문을 사용했을 때 if가 아니었을 때의 실행을 설정해둘 때 사용한다.
따라서 내 생각에는 !=과 else 차이는 크게 있는 것 같지 않다… 차이점이 있다면 무엇일지 궁금하다

In [16]:
a=1
if a==0:
  print(a)
else:
  print(a+1)

2

- For & If : 이 둘은 같이 쓰일 때도 존재한다.

In [17]:
for i in range(1,3):
  for j in range(3,5):
    if j>=4:
      print(i*j)

4
8

List comprehension: For나 if가 list 안쪽에 있을 때

In [18]:
a=[1,2,3,4]
b=[i for i in a if i>=2]
print(b)

[2, 3, 4]

Dict comprehension: For나 if가 dict 안쪽에 있을 때

In [19]:
a=[1,2,3,4]
b=[10,20,30,40]
c={a[i]:b[i] for i in range(4)}
print(c)

{1: 10, 2: 20, 3: 30, 4: 40}

Import
함수를 사용하기 위해서는 크게 세가지 방법이 존재한다.
-Install
-Import: 다른 곳에서 받아와 ram으로 올리는 것
-Built-in: print와 같은 함수처럼 너무 유명해서 이미 설치되어 있는 것
-Numpy: 숫자와 관련   import numpy as np (numpy를 np로 적기 쉽게 간편화하여 불러오기)
n = np.random.randn(100) 100개의 random number를 만들어라 (0을 중심으로)
-Matplotlib matplotlib.pyplot.hist(n) 만들어진 100개의 무작위 숫자를 사용해 histogram 만들기
Import matplotlib       =  import matplotlib.pyplot as plt
Matplotlib.pyplot.hist(n)     plt.hist(n)  
또 다른 간편화 방법: From 사용하기
From matplotlib import pyplot 을 하면 matplotlib를 쓰지 않아도 그 안에 있는 pyplot을 가져왔기에 쓴 것과 같은 결과 가져옴 -> pyplot.hist(n)
From matplotlib.pyplot import hist(n) 도 가능